.page .footer, .page .form-container-max, .page .random-container, .page .gustos-container, .page .chistazos-container, .page .yo-container, .page .inicio-container, .page .header-container, .page, h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6;
  font-size: 18px;
}

.page .footer .footer-div, h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px;
  padding: 30px 20px 20px 20px;
}

.page .footer .footer-div .footer-container-redes .footer-p, .page .footer .footer-div .footer-container-redes .footer-redes .footer-img-ig, .page .footer .footer-div .footer-container-redes .footer-redes .footer-img-lkd, .page .footer .footer-div .footer-container-redes .footer-redes, .page .footer .footer-div .footer-container-redes, .page .footer .footer-div, .page .footer, .page .form-container-max .form-container-email-button .form-container-button .form .form-button, .page .form-container-max .form-container-email-button .form-container-button .form, .page .form-container-max .form-container-email-button .form-container-button, .page .form-container-max .form-container-email-button .form-container-email .form .form-input, .page .form-container-max .form-container-email-button .form-container-email .form .form-label, .page .form-container-max .form-container-email-button .form-container-email .form, .page .form-container-max .form-container-email-button .form-container-email, .page .form-container-max .form-container-email-button, .page .form-container-max .form-container-name-first .form-container-firstname .form .form-input, .page .form-container-max .form-container-name-first .form-container-firstname .form .form-label, .page .form-container-max .form-container-name-first .form-container-firstname .form, .page .form-container-max .form-container-name-first .form-container-firstname, .page .form-container-max .form-container-name-first .form-container-name .form .form-input, .page .form-container-max .form-container-name-first .form-container-name .form .form-label, .page .form-container-max .form-container-name-first .form-container-name .form, .page .form-container-max .form-container-name-first .form-container-name, .page .form-container-max .form-container-name-first, .page .form-container-max .form-container-nl .form-nl .form-input-nl, .page .form-container-max .form-container-nl .form-nl .form-label-nl, .page .form-container-max .form-container-nl .form-nl, .page .form-container-max .form-container-nl, .page .form-container-max, .page .random-container .random-s .volver1, .page .random-container .random-s .card-body .h5-tarj, .page .random-container .random-s .random-container-car .niki, .page .random-container .random-s .random-p, .page .random-container .random-s .random-h1, .page .random-container, .page .gustos-container .gustos-s .volver1, .page .gustos-container .gustos-s .gustos-container-img, .page .gustos-container .gustos-s .gustos-p, .page .gustos-container .gustos-s .gustos-h1, .page .gustos-container, .page .chistazos-container .chistazos-s .volver1, .page .chistazos-container .chistazos-s .chistazos-p .chistazos-a .chistazos-a-img, .page .chistazos-container .chistazos-s .chistazos-p .chistazos-a, .page .chistazos-container .chistazos-s .chistazos-p, .page .chistazos-container .chistazos-s .chistazos-h1, .page .chistazos-container, .page .yo-container .yo .volver1, .page .yo-container .yo .yo-p, .page .yo-container .yo .yo-h1, .page .yo-container, .page .inicio-container .inicio-s .volver1, .page .inicio-container .inicio-s .inicio-p, .page .inicio-container .inicio-s .inicio-h1, .page .inicio-container, .page .header-container .header-menu .header-inicio, .page .header-container .header-menu, .page .header-container, .page .row .image-principal-container .image-principal, .page .row .image-principal-container, .page, h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: #2C3E50;
  color: #FBFCFC;
  font-size: larger;
  letter-spacing: 6px;
  padding: 6px 20px;
  width: 94vw;
  /* VER ANCHO TOTAL */
}

.page {
  background-color: #2C3E50;
  font-size: 16px;
  color: #f4f4f9ff;
  align-items: center;
  /* overflow: hidden; */
  overflow-x: hidden;
  margin: 0px -9px;
}
.page .row .image-principal-container {
  width: 100vw;
  height: 100vh;
}
.page .row .image-principal-container .image-principal {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.page .header-container {
  position: absolute;
  align-items: center;
  top: 25%;
  left: 40%;
  list-style: none;
  line-height: 2.6;
  letter-spacing: 4.5px;
  font-weight: 400;
  margin: 20px;
  padding: 0 20px 20px 20px;
}
.page .header-container .header-menu {
  list-style: none;
  flex-direction: column;
  align-items: center;
}
.page .header-container .header-menu .header-inicio {
  text-decoration: none;
  color: #FBFCFC;
}
.page .header-container .header-menu .header-inicio .header-inicio-corazon {
  height: 44px;
  width: 24px;
  margin-left: 10px;
}
.page .header-container .header-menu .header-inicio:hover {
  background-color: #212F3D;
  width: 110%;
  justify-content: center;
}
.page .inicio-container {
  background-color: #212F3D;
  padding: 20px;
  margin: 20px 10px;
}
.page .inicio-container .inicio-s .inicio-p {
  padding: 20px;
  margin: 10px;
  overflow: none;
}
.page .inicio-container .inicio-s .volver1 {
  text-decoration: none;
  color: #f4f4f9ff;
  padding: 20px;
  margin: 6px 0px 6px 10px;
  font-size: smaller;
  /* width: 100%;
  height: 100%; */
  align-items: flex-end;
}
.page .inicio-container .inicio-s .volver1:hover {
  background-color: #2C3E50;
  padding: 4px;
  transition: all 0.5s ease 0.5s;
  -webkit-transition: all 1.5s ease 0.7s;
  -moz-transition: all 1.5s ease 0.7s;
  -o-transition: all 1.5s ease 0.7s;
  -ms-transition: all 1.5s ease 0.7s;
}
.page .yo-container {
  background-color: #212F3D;
  padding: 20px;
  margin: 20px 10px;
}
.page .yo-container .yo .yo-h1 {
  /* width: 100vw; */
  /* padding: 0px 10px ;
  margin: 0px 10px;  */
}
.page .yo-container .yo .yo-p {
  padding: 20px;
  margin: 20px;
  line-height: 1.6;
}
.page .yo-container .yo .volver1 {
  text-decoration: none;
  color: #f4f4f9ff;
  padding: 20px;
  margin: 6px 0px 6px 10px;
  font-size: smaller;
  /* width: 100%;
  height: 100%; */
  align-items: flex-end;
}
.page .yo-container .yo .volver1:hover {
  background-color: #2C3E50;
  padding: 4px;
  transition: all 0.5s ease 0.5s;
  -webkit-transition: all 1.5s ease 0.7s;
  -moz-transition: all 1.5s ease 0.7s;
  -o-transition: all 1.5s ease 0.7s;
  -ms-transition: all 1.5s ease 0.7s;
}
.page .chistazos-container {
  background-color: #212F3D;
  padding: 20px;
  margin: 20px 10px;
  justify-content: space-between;
}
.page .chistazos-container .chistazos-s .chistazos-h1 {
  /* width: 100vw; */
  /* padding: 0px 10px ;
  margin: 0px 10px;  */
}
.page .chistazos-container .chistazos-s .chistazos-p {
  padding: 20px;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  line-height: 2;
}
.page .chistazos-container .chistazos-s .chistazos-p .chistazos-a:hover {
  transform: translate(-20px);
  transition: all 1.5s ease 0.7s;
  -webkit-transition: all 1.5s ease 0.7s;
  -moz-transition: all 1.5s ease 0.7s;
  -o-transition: all 1.5s ease 0.7s;
  -ms-transition: all 1.5s ease 0.7s;
}
.page .chistazos-container .chistazos-s .chistazos-p .chistazos-a .chistazos-a-img {
  padding: 20px 5px;
}
.page .chistazos-container .chistazos-s .volver1 {
  text-decoration: none;
  color: #f4f4f9ff;
  padding: 20px;
  margin: 6px 0px 6px 10px;
  font-size: smaller;
  /* width: 100%;
  height: 100%; */
  align-items: flex-end;
}
.page .chistazos-container .chistazos-s .volver1:hover {
  background-color: #2C3E50;
  padding: 4px;
  transition: all 0.5s ease 0.5s;
  -webkit-transition: all 1.5s ease 0.7s;
  -moz-transition: all 1.5s ease 0.7s;
  -o-transition: all 1.5s ease 0.7s;
  -ms-transition: all 1.5s ease 0.7s;
}
.page .gustos-container {
  background-color: #212F3D;
  padding: 20px;
  margin: 20px 10px;
  justify-content: space-between;
}
.page .gustos-container .gustos-s .gustos-h1 {
  /* width: 100vw; */
  /* padding: 0px 10px ;
  margin: 0px 10px;  */
}
.page .gustos-container .gustos-s .gustos-p {
  padding: 20px;
  margin: 10px;
  justify-content: space-between;
  line-height: 2;
}
.page .gustos-container .gustos-s .gustos-container-img {
  justify-content: center;
  width: inherit;
}
.page .gustos-container .gustos-s .gustos-container-img .gustos-img {
  width: 30%;
  height: 60vh;
  margin: 10px;
  padding: 2px;
}
.page .gustos-container .gustos-s .gustos-container-img .imagen-1 {
  width: 100vw;
  height: 70vh;
}
.page .gustos-container .gustos-s .volver1 {
  text-decoration: none;
  color: #f4f4f9ff;
  padding: 20px;
  margin: 6px 0px 6px 10px;
  font-size: smaller;
  /* width: 100%;
  height: 100%; */
  align-items: flex-end;
}
.page .gustos-container .gustos-s .volver1:hover {
  background-color: #2C3E50;
  padding: 4px;
  transition: all 0.5s ease 0.5s;
  -webkit-transition: all 1.5s ease 0.7s;
  -moz-transition: all 1.5s ease 0.7s;
  -o-transition: all 1.5s ease 0.7s;
  -ms-transition: all 1.5s ease 0.7s;
}
.page .random-container {
  background-color: #212F3D;
  padding: 20px;
  margin: 20px 10px;
  justify-content: space-between;
}
.page .random-container .random-s .random-h1 {
  /* width: 100vw; */
  /* padding: 0px 10px ;
  margin: 0px 10px;  */
}
.page .random-container .random-s .random-p {
  padding: 20px;
  margin: 10px;
  justify-content: space-between;
  line-height: 2;
}
.page .random-container .random-s .random-container-car .niki {
  margin: 32px 35px;
  width: 100vw;
  text-align: center;
  background-color: #212F3D;
  margin-bottom: 23px !important;
}
.page .random-container .random-s .random-container-car .niki .img-random-b:hover {
  transform: scale(1.2);
  transition: all 0.5s ease 0.5s;
  -webkit-transition: all 1.5s ease 0.7s;
  -moz-transition: all 1.5s ease 0.7s;
  -o-transition: all 1.5s ease 0.7s;
  -ms-transition: all 1.5s ease 0.7s;
}
.page .random-container .random-s .card-body .h5-tarj {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
.page .random-container .random-s .volver1 {
  text-decoration: none;
  color: #f4f4f9ff;
  padding: 20px;
  margin: 6px 0px 6px 10px;
  font-size: smaller;
  /* width: 100%;
  height: 100%; */
  align-items: flex-end;
}
.page .random-container .random-s .volver1:hover {
  background-color: #2C3E50;
  padding: 4px;
  transition: all 0.5s ease 0.5s;
  -webkit-transition: all 1.5s ease 0.7s;
  -moz-transition: all 1.5s ease 0.7s;
  -o-transition: all 1.5s ease 0.7s;
  -ms-transition: all 1.5s ease 0.7s;
}
.page .form-container-max {
  justify-content: space-between;
  background-color: #212F3D;
}
.page .form-container-max .form-container-nl {
  align-items: center;
  background-color: #212F3D;
  padding: 20px 25px;
  width: 100vw;
  justify-content: center;
}
.page .form-container-max .form-container-nl .form-nl {
  justify-content: center;
  background-color: #212F3D;
  align-items: center;
}
.page .form-container-max .form-container-nl .form-nl .form-label-nl {
  justify-content: center;
  margin: 0px 10px;
  background-color: #212F3D;
}
.page .form-container-max .form-container-nl .form-nl .form-input-nl {
  margin: 0px 10px;
  background-color: #212F3D;
}
.page .form-container-max .form-container-name-first {
  justify-content: space-between;
  margin: 0 auto;
}
.page .form-container-max .form-container-name-first .form-container-name {
  justify-content: center;
  background-color: #212F3D;
  padding: 10px 0px;
  /* align-items: center;
  justify-content: center; */
  flex-direction: row;
}
.page .form-container-max .form-container-name-first .form-container-name .form {
  font-size: 16px;
  color: #f4f4f9ff;
  margin: 0px 15px;
  padding: 5px 0px 5px 0px;
  line-height: 2;
  /* justify-content: space-around; */
  align-items: center;
}
.page .form-container-max .form-container-name-first .form-container-name .form .form-label {
  margin: 0px -5px 0px 10px;
  align-items: center;
}
.page .form-container-max .form-container-name-first .form-container-name .form .form-input {
  width: 125px;
  height: 20px;
  align-items: center;
  margin: 0px 10px;
}
.page .form-container-max .form-container-name-first .form-container-firstname {
  background-color: #212F3D;
  padding: 10px 0px;
  /* align-items: center;
  justify-content: center; */
  flex-direction: row;
}
.page .form-container-max .form-container-name-first .form-container-firstname .form {
  font-size: 16px;
  color: #f4f4f9ff;
  margin: 0px 15px;
  padding: 5px 0px 5px 0px;
  line-height: 2;
  /* justify-content: space-around; */
  align-items: center;
}
.page .form-container-max .form-container-name-first .form-container-firstname .form .form-label {
  margin: 0px -5px 0px 10px;
  align-items: center;
}
.page .form-container-max .form-container-name-first .form-container-firstname .form .form-input {
  width: 125px;
  height: 20px;
  align-items: center;
  margin: 0px 10px;
}
.page .form-container-max .form-container-email-button {
  justify-content: space-between;
  margin: 0 auto;
}
.page .form-container-max .form-container-email-button .form-container-email {
  background-color: #212F3D;
  padding: 10px 0px;
  /* align-items: center;
  justify-content: center; */
  flex-direction: row;
}
.page .form-container-max .form-container-email-button .form-container-email .form {
  font-size: 16px;
  color: #f4f4f9ff;
  margin: 0px 15px;
  padding: 5px 0px 5px 0px;
  line-height: 2;
  /* justify-content: space-around; */
  align-items: center;
}
.page .form-container-max .form-container-email-button .form-container-email .form .form-label {
  margin: 0px -5px 0px 10px;
  align-items: center;
}
.page .form-container-max .form-container-email-button .form-container-email .form .form-input {
  width: 125px;
  height: 20px;
  align-items: center;
  margin: 0px 10px;
}
.page .form-container-max .form-container-email-button .form-container-button {
  background-color: #212F3D;
  padding: 10px 0px;
  /* align-items: center;
  justify-content: center; */
  flex-direction: row;
}
.page .form-container-max .form-container-email-button .form-container-button .form {
  font-size: 16px;
  color: #f4f4f9ff;
  margin: 0px 15px;
  padding: 5px 0px 5px 0px;
  line-height: 2;
  /* justify-content: space-around; */
  align-items: center;
}
.page .form-container-max .form-container-email-button .form-container-button .form .form-button {
  width: 80px;
  height: 30px;
  padding: 0px 10px 0px 5px;
  margin: 0px 10px;
  justify-content: center;
  align-content: center;
}
.page .footer {
  background-color: #212F3D;
  width: 100vw;
  /* height: 100vh;  */
  padding: 0px 20px 0px 20px;
  margin: 0px 0px 0px 0px;
  justify-content: center;
  position: relative;
  bottom: 0px;
  align-items: center;
}
.page .footer .footer-div {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.page .footer .footer-div .footer-container-redes {
  margin: 10px;
  flex-direction: row;
  align-items: center;
}
.page .footer .footer-div .footer-container-redes .footer-redes {
  justify-content: space-between;
  margin: 10px 30px;
}
.page .footer .footer-div .footer-container-redes .footer-redes .footer-img-lkd {
  height: 34px;
  margin-top: 13px;
}
.page .footer .footer-div .footer-container-redes .footer-redes {
  justify-content: space-between;
  margin: 10px 30px;
}
.page .footer .footer-div .footer-container-redes .footer-redes .footer-img-ig {
  justify-content: space-between;
  height: 34px;
  margin-top: 12px;
}
.page .footer .footer-div .footer-container-redes .footer-p {
  padding: 10px;
  margin: 10px 0px 0px 0px;
  justify-content: space-between;
  line-height: 2;
  align-items: center;
}

.random-container {
  justify-content: center;
  margin: 0px;
  padding: 5px;
  width: 100vw;
}
.random-container .random-s .random-container-car {
  justify-content: center;
  margin: 0px;
  padding: 5px;
  width: 100vw;
}
.random-container .random-s .card-body .h5-tarj {
  width: 60vw;
  justify-content: center;
  align-items: center;
  margin: 0px;
  flex-wrap: wrap;
  display: flex;
}
/* MOBILE */
@media (max-width: 401px) {
  .page {
    width: 103vw;
    margin: 0px;
  }
  .page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
    font-size: smaller;
    letter-spacing: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    padding: 5px;
    margin-top: 9px;
    width: 100%;
    /* VER ANCHO TOTAL */
  }
  .page .header-container {
    top: 25%;
    left: 20%;
    font-size: medium;
  }
  .page .header-container .image-principal {
    width: 103vw;
  }
  .page .inicio-p,
.page .yo-p,
.page .chistazos-p,
.page .gustos-p,
.page .random-p {
    font-size: 16px;
    line-height: 2;
  }
  .page .inicio-container,
.page .yo-container,
.page .chistazos-container,
.page .gustos-container,
.page .random-container,
.page .form-container-max {
    margin: 0px;
    padding: 5px 35px 5px 5px;
    justify-content: center;
  }
  .page .inicio-container .form-container-nl .form-nl .form-input-nl,
.page .yo-container .form-container-nl .form-nl .form-input-nl,
.page .chistazos-container .form-container-nl .form-nl .form-input-nl,
.page .gustos-container .form-container-nl .form-nl .form-input-nl,
.page .random-container .form-container-nl .form-nl .form-input-nl,
.page .form-container-max .form-container-nl .form-nl .form-input-nl {
    margin: 20px 10px 0px 10px;
  }
  .page .inicio-container .form-container-email-button,
.page .inicio-container .form-container-name-first,
.page .yo-container .form-container-email-button,
.page .yo-container .form-container-name-first,
.page .chistazos-container .form-container-email-button,
.page .chistazos-container .form-container-name-first,
.page .gustos-container .form-container-email-button,
.page .gustos-container .form-container-name-first,
.page .random-container .form-container-email-button,
.page .random-container .form-container-name-first,
.page .form-container-max .form-container-email-button,
.page .form-container-max .form-container-name-first {
    justify-content: center;
  }
  .page .gustos-container .gustos-s .gustos-h1 {
    width: 91vw;
  }
  .page .gustos-container .gustos-s .gustos-container-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: inherit;
    flex-direction: column;
    align-items: center;
  }
  .page .gustos-container .gustos-s .gustos-container-img .gustos-img {
    width: 100vw;
    height: 70vh;
    margin: 10px;
    padding: 2px;
  }
  .page .gustos-container .gustos-s .gustos-container-img .imagen-1 {
    height: 70vh;
    width: 100vw;
    margin: 0px 7px;
  }
  .page .gustos-container .gustos-s .gustos-container-img .carousel-control-prev .carousel-control-next-icon, .page .gustos-container .gustos-s .gustos-container-img .carousel-control-prev .carousel-control-prev-icon, .page .gustos-container .gustos-s .gustos-container-img .carousel-control-next .carousel-control-next-icon, .page .gustos-container .gustos-s .gustos-container-img .carousel-control-next .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 10px 33px;
    background: no-repeat 50%/100% 100%;
  }
  .page .random-container {
    justify-content: center;
    margin: 0px;
    padding: 5px;
    width: 100vw;
  }
  .page .random-container .random-s .random-h1 {
    width: 93vw;
  }
  .page .random-container .random-s .random-container-car {
    justify-content: center;
    margin: 0px;
    padding: 5px;
    width: 100vw;
  }
  .page .random-container .random-s .card-body .h5-tarj {
    width: 60vw;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex-wrap: wrap;
    display: flex;
    font-size: 18px;
  }
  .page .form-container-name,
.page .form-container-firstname,
.page .formcontainer-email,
.page .form-container-button {
    margin: 8px;
    justify-content: center;
  }
  .page .footer {
    justify-content: space-evenly;
  }
  .page .footer .footer-div .footer-container-redes {
    justify-content: center;
  }
  .page .volver1 {
    justify-content: center;
  }
}
@media only screen and (min-width: 402px) and (max-width: 700px) {
  .page {
    width: 103vw;
  }
  .page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
    font-size: smaller;
    letter-spacing: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    padding: 5px;
    margin-top: 9px;
    width: 100%;
    /* VER ANCHO TOTAL */
  }
  .page .inicio-h1,
.page .yo-h1,
.page .chistazos-h1,
.page .gustos-h1,
.page .random-h1 {
    width: 100%;
  }
  .page .header-container {
    top: 25%;
    left: 31%;
    font-size: medium;
  }
  .page .header-container .image-principal {
    width: 103vw;
  }
  .page .inicio-p,
.page .yo-p,
.page .chistazos-p,
.page .gustos-p,
.page .random-p {
    font-size: 16px;
    line-height: 2;
    width: 100vw;
    justify-content: center;
  }
  .page .inicio-container,
.page .yo-container,
.page .chistazos-container,
.page .gustos-container,
.page .random-container,
.page .form-container-max {
    margin: 0px;
    padding: 5px;
    justify-content: space-around;
  }
  .page .inicio-container .form-container-nl .form-nl .form-input-nl,
.page .yo-container .form-container-nl .form-nl .form-input-nl,
.page .chistazos-container .form-container-nl .form-nl .form-input-nl,
.page .gustos-container .form-container-nl .form-nl .form-input-nl,
.page .random-container .form-container-nl .form-nl .form-input-nl,
.page .form-container-max .form-container-nl .form-nl .form-input-nl {
    margin: 20px 10px 0px 10px;
  }
  .page .inicio-container .form-container-email-button,
.page .inicio-container .form-container-name-first,
.page .yo-container .form-container-email-button,
.page .yo-container .form-container-name-first,
.page .chistazos-container .form-container-email-button,
.page .chistazos-container .form-container-name-first,
.page .gustos-container .form-container-email-button,
.page .gustos-container .form-container-name-first,
.page .random-container .form-container-email-button,
.page .random-container .form-container-name-first,
.page .form-container-max .form-container-email-button,
.page .form-container-max .form-container-name-first {
    justify-content: center;
  }
  .page .inicio-container .inicio-s .inicio-p {
    padding: 40px;
    margin: 0px;
  }
  .page .chistazos-container .chistazos-s .chistazos-p {
    justify-content: center;
  }
  .page .chistazos-container .chistazos-s .chistazos-p .chistazos-a .chistazos-a-img {
    padding: 20px 42px;
  }
  .page .gustos-container .gustos-s .gustos-container-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: inherit;
    flex-direction: column;
    align-items: center;
  }
  .page .gustos-container .gustos-s .gustos-container-img .gustos-img {
    width: 50vw;
    height: 70vh;
    margin: 10px;
    padding: 2px;
  }
  .page .gustos-container .gustos-s .gustos-container-img .gustos-img .gustos-img:hover {
    transform: scale(1.2);
    transition: all 1.5s ease 0.7s;
  }
  .page .gustos-container .gustos-s .gustos-container-img .imagen-1 {
    width: 88vw;
    height: 70vh;
  }
  .page .random-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 5px;
    width: 100vw;
  }
  .page .random-container .random-s .random-p {
    padding: 40px;
  }
  .page .random-container .random-s .random-container-car {
    justify-content: center;
    margin: 0px;
    padding: 5px;
    padding-left: 36px;
    padding-right: 20px;
    width: 100vw;
  }
  .page .random-container .random-s .random-container-car .niki {
    margin: 0px;
    padding: 0px;
  }
  .page .random-container .random-s .card-body .h5-tarj {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex-wrap: wrap;
    display: flex;
    font-size: 18px;
  }
  .page .form-container-name,
.page .form-container-firstname,
.page .formcontainer-email,
.page .form-container-button {
    margin: 8px 10px;
    justify-content: center;
  }
  .page .form-container-name .form-nl,
.page .form-container-firstname .form-nl,
.page .formcontainer-email .form-nl,
.page .form-container-button .form-nl {
    margin: 10px;
  }
  .page .footer {
    justify-content: center;
  }
  .page .footer .footer-div .footer-container-redes {
    justify-content: center;
    margin: 10px;
    flex-direction: row;
    align-items: center;
  }
  .page .footer .footer-div .footer-container-redes .footer-img-ig,
.page .footer .footer-div .footer-container-redes .footer-img-lkd {
    margin: 10px 10px;
  }
  .page .volver1 {
    justify-content: center;
  }
}
/* tablet style */
@media only screen and (min-width: 701px) and (max-width: 960px) {
  .page {
    width: 103vw;
  }
  .page h1,
.page h2,
.page h3,
.page h4,
.page h5,
.page h6 {
    font-size: smaller;
    letter-spacing: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
    padding: 5px;
    margin-top: 9px;
    width: 100%;
    /* VER ANCHO TOTAL */
  }
  .page .inicio-h1,
.page .yo-h1,
.page .chistazos-h1,
.page .gustos-h1,
.page .random-h1 {
    width: 100%;
  }
  .page .header-container {
    top: 25%;
    left: 38%;
    font-size: medium;
  }
  .page .header-container .image-principal {
    width: 103vw;
  }
  .page .inicio-p,
.page .yo-p,
.page .chistazos-p,
.page .gustos-p,
.page .random-p {
    font-size: 16px;
    line-height: 2;
    width: 100vw;
    justify-content: center;
  }
  .page .inicio-container,
.page .yo-container,
.page .chistazos-container,
.page .gustos-container,
.page .random-container,
.page .form-container-max {
    margin: 0px;
    padding: 5px;
    justify-content: space-around;
  }
  .page .inicio-container .form-container-nl .form-nl .form-input-nl,
.page .yo-container .form-container-nl .form-nl .form-input-nl,
.page .chistazos-container .form-container-nl .form-nl .form-input-nl,
.page .gustos-container .form-container-nl .form-nl .form-input-nl,
.page .random-container .form-container-nl .form-nl .form-input-nl,
.page .form-container-max .form-container-nl .form-nl .form-input-nl {
    margin: 20px 10px 0px 10px;
  }
  .page .inicio-container .form-container-email-button,
.page .inicio-container .form-container-name-first,
.page .yo-container .form-container-email-button,
.page .yo-container .form-container-name-first,
.page .chistazos-container .form-container-email-button,
.page .chistazos-container .form-container-name-first,
.page .gustos-container .form-container-email-button,
.page .gustos-container .form-container-name-first,
.page .random-container .form-container-email-button,
.page .random-container .form-container-name-first,
.page .form-container-max .form-container-email-button,
.page .form-container-max .form-container-name-first {
    justify-content: center;
  }
  .page .inicio-container .inicio-s .inicio-p {
    padding: 40px;
    margin: 0px;
  }
  .page .chistazos-container .chistazos-s .chistazos-p {
    justify-content: center;
  }
  .page .chistazos-container .chistazos-s .chistazos-p .chistazos-a .chistazos-a-img {
    padding: 20px 42px;
  }
  .page .gustos-container .gustos-s .gustos-container-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: inherit;
    flex-direction: column;
    align-items: center;
  }
  .page .gustos-container .gustos-s .gustos-container-img .gustos-img {
    width: 50vw;
    height: 70vh;
    margin: 10px;
    padding: 2px;
  }
  .page .gustos-container .gustos-s .gustos-container-img .gustos-img .gustos-img:hover {
    transform: scale(1.2);
    transition: all 1.5s ease 0.7s;
  }
  .page .gustos-container .gustos-s .gustos-container-img .imagen-1 {
    width: 88vw;
    height: 70vh;
  }
  .page .random-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 5px;
    width: 100vw;
  }
  .page .random-container .random-s .random-p {
    padding: 40px;
  }
  .page .random-container .random-s .random-container-car {
    justify-content: center;
    margin: 0px;
    padding: 5px;
    padding-left: 70px;
    padding-right: 20px;
    width: 100vw;
  }
  .page .random-container .random-s .random-container-car .niki {
    margin: 0px;
    padding: 0px;
  }
  .page .random-container .random-s .card-body .h5-tarj {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex-wrap: wrap;
    display: flex;
    font-size: 18px;
  }
  .page .form-container-name,
.page .form-container-firstname,
.page .formcontainer-email,
.page .form-container-button {
    margin: 8px 10px;
    justify-content: center;
  }
  .page .form-container-name .form-nl,
.page .form-container-firstname .form-nl,
.page .formcontainer-email .form-nl,
.page .form-container-button .form-nl {
    margin: 10px;
  }
  .page .footer {
    justify-content: center;
  }
  .page .footer .footer-div .footer-container-redes {
    justify-content: center;
    margin: 10px;
    flex-direction: row;
    align-items: center;
  }
  .page .footer .footer-div .footer-container-redes .footer-img-ig,
.page .footer .footer-div .footer-container-redes .footer-img-lkd {
    margin: 10px 10px;
  }
  .page .volver1 {
    justify-content: center;
  }
}
/* desktop style */
@media only screen and (min-width: 961px) {
  .form-container-nl,
.form-container-max,
.footer {
    justify-content: center;
  }

  .niki {
    justify-content: center;
    max-width: 1200px;
  }

  .imagen-1 {
    width: 88vw;
    height: 70vh;
  }

  .random-container-car {
    width: 100vw;
  }
}

/*# sourceMappingURL=style.css.map */
